<!--#set var="title" value="Startup HTML template" -->
<!--#include virtual="/parts/header.html" -->


<div class="max-w-screen-lg mx-auto p-4 sm:px-0 sm:py-12">

	<img src="images/dist/preview.png" class="w-full mb-6">

	<div class="mb-6 sm:mb-12">
		<h1 class="text-4xl font-bold text-gray-900">Welcome to startup HTML template!</h1>
		<h2 class="text-2xl font-bold text-gray-900">
			Tailwind CSS Boilerplate (PostCSS + Browsersync + Gulp +
			Imagemin)
		</h2>
		<p class="text-lg mt-4">
			<a href="https://tailwindcss.com/">Tailwind CSS</a> boilerplate for HTML projects. Bare-bones HTML
			template with Tailwind CSS, PostCSS, Gulp, Imagemin &amp;
			Browsersync
		</p>
	</div>

	<div class="sm:grid sm:grid-cols-2 sm:gap-6 space-y-6 sm:space-y-0">
		<div class="rounded-lg bg-gray-50 p-4">
			<div class="pb-6 border-b border-gray-200 mb-6">
				<div>
					<h1 class="inline-block text-2xl font-extrabold text-gray-900 tracking-tight">Icons</h1>
				</div>
				<p class="mt-1 text-gray-500 leading-6">A set of free MIT-licensed high-quality SVG icons for you to use in your web projects.</p>
			</div>

			<div class="flex flex-col">
				<a href="https://heroicons.com/">Heroicons</a>
				<a href="https://fonts.google.com/icons">Material Icons</a>
			</div>
		</div>
		<div class="rounded-lg bg-gray-50 p-4">
			<div class="pb-6 border-b border-gray-200 mb-6">
				<div>
					<h1 class="inline-block text-2xl font-extrabold text-gray-900 tracking-tight">JavaScript</h1>
				</div>
				<p class="mt-1 leading-6 text-gray-500">Your new, lightweight, JavaScript framework for you to use in your web projects.</p>
			</div>

			<div class="flex flex-col">
				<a href="https://alpinejs.dev/">AlpineJs</a>
				<a href="https://github.com/alpine-collective/alpine-magic-helpers">Magic Helpers</a>
				<a href="https://spruce.ryangjchandler.co.uk/">Spruce</a>
			</div>
		</div>
		<div class="rounded-lg bg-gray-50 p-4">
			<div class="pb-6 border-b border-gray-200 mb-6">
				<div>
					<h1 class="inline-block text-2xl font-extrabold text-gray-900 tracking-tight">Components</h1>
				</div>
				<p class="mt-1 leading-6 text-gray-500">Open source Tailwind UI components and templates to bootstrap your new apps, projects or landing sites!</p>
			</div>

			<div class="flex flex-col">
				<a href="https://tailwindcomponents.com/">Tailwind Components</a>
				<a href="https://tailwindui.com/components">Tailwind UI</a>
			</div>
		</div>
	</div>

</div>

<!--#include virtual="/parts/footer.html" -->
